In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle
from sklearn.preprocessing import OneHotEncoder

In [2]:
data = pd.read_csv("C:/Users/susha/Desktop/UDEMY/Complete_GENAI_COURSE/GenAI_Course_Langchain/python_ann_implementation/Churn_Modelling.csv")

data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

### Preprocess the Data
#### Drop irrelevant columns

In [3]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

### Encoding Categorial Columns

In [4]:
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

### One Hot Encoding 'Geography'

In machine learning and data processing, a dense output refers to a matrix where all values are explicitly stored, including zeros.

In [5]:
# One-hot encode 'Geography' column with dense output
onehot_encode = OneHotEncoder()
geo_encoded = onehot_encode.fit_transform(data[['Geography']])
geo_encoded

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [6]:
geo_encoded.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [7]:
onehot_encode.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [8]:
geo_encoded_df=pd.DataFrame(geo_encoded.toarray(),columns=onehot_encode.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

### Combine one hot encoder columns with the original data

In [9]:
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [10]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

## Save the Encoders and Scalers

In [11]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
    
with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encode,file)

### Divide the dataset into independent and dependent features

In [12]:
X=data.drop('Exited',axis=1)
y=data['Exited']

### Split the data in training and testing sets

In [13]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

### Scale these features

In [14]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [15]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

## ANN IMPLEMENTATION

In [16]:
!nvcc --version

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2022 NVIDIA Corporation
Built on Wed_Sep_21_10:41:10_Pacific_Daylight_Time_2022
Cuda compilation tools, release 11.8, V11.8.89
Build cuda_11.8.r11.8/compiler.31833905_0

In [17]:
import tensorflow as tf
print("TensorFlow version:", tf.__version__)
print("GPUs:", tf.config.list_physical_devices('GPU'))

TensorFlow version: 2.13.0
GPUs: []

In [18]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense 
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

In [19]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ##HL1 Connected with input layer
    Dense(32,activation='relu'), #HL2
    Dense(1,activation='sigmoid') ## output layer
])

In [20]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

## Compile the model

In [21]:
import tensorflow
opt= tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
metric=[tensorflow.keras.metrics.Accuracy()]

In [22]:
model.compile(optimizer=opt,loss=loss,metrics=metric)

### Setup Tensorboard

In [23]:
from datetime import datetime
log_dir = "logs/fit/" + datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

### Setup Earlystopping

In [24]:
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

### Train the model

In [25]:
import tensorflow as tf

print("Num GPUs Available:", len(tf.config.list_physical_devices('GPU')))

Num GPUs Available: 0

In [26]:
import tensorflow as tf
print("Num GPUs Available:", len(tf.config.list_physical_devices('GPU')))

Num GPUs Available: 0

In [27]:
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 0.3982 - accuracy: 0.0000e+00 - val_loss: 0.3633 - val_accuracy: 0.0000e+00
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3557 - accuracy: 0.0000e+00 - val_loss: 0.3605 - val_accuracy: 0.0000e+00
Epoch 3/100
250/250 [==============================] - 0s 960us/step - loss: 0.3457 - accuracy: 0.0000e+00 - val_loss: 0.3421 - val_accuracy: 0.0000e+00
Epoch 4/100
250/250 [==============================] - 0s 935us/step - loss: 0.3395 - accuracy: 0.0000e+00 - val_loss: 0.3515 - val_accuracy: 0.0000e+00
Epoch 5/100
250/250 [==============================] - 0s 941us/step - loss: 0.3399 - accuracy: 0.0000e+00 - val_loss: 0.3462 - val_accuracy: 0.0000e+00
Epoch 6/100
250/250 [==============================] - 0s 980us/step - loss: 0.3386 - accuracy: 0.0000e+00 - val_loss: 0.3428 - val_accuracy: 0.0000e+00
Epoch 7/100
250/250 [==============================] - 0s 934us/step - loss: 0.3382 - accuracy: 1.2500e-04 - val_loss: 0.3477 - val_accuracy: 0.0000e+00
Epoch 8/100
250/250 [==============================] - 0s 963us/step - loss: 0.3324 - accuracy: 1.2500e-04 - val_loss: 0.3329 - val_accuracy: 0.0000e+00
Epoch 9/100
250/250 [==============================] - 0s 941us/step - loss: 0.3314 - accuracy: 2.5000e-04 - val_loss: 0.3458 - val_accuracy: 5.0000e-04
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3295 - accuracy: 1.2500e-04 - val_loss: 0.3569 - val_accuracy: 0.0010
Epoch 11/100
250/250 [==============================] - 0s 980us/step - loss: 0.3267 - accuracy: 7.5000e-04 - val_loss: 0.3369 - val_accuracy: 0.0010
Epoch 12/100
250/250 [==============================] - 0s 966us/step - loss: 0.3263 - accuracy: 0.0011 - val_loss: 0.3453 - val_accuracy: 5.0000e-04
Epoch 13/100
250/250 [==============================] - 0s 953us/step - loss: 0.3233 - accuracy: 8.7500e-04 - val_loss: 0.3406 - val_accuracy: 0.0010

In [28]:
model.save('model.h5')

c:\Users\susha\Desktop\UDEMY\Complete_GENAI_COURSE\GenAI_Course_Langchain\venv\Lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

## Load Tensorboard Extension

In [29]:
%load_ext tensorboard

In [30]:
%tensorboard --logdir logs/fit/

### Loadthe trained  model,scaler,pickle,onehot

In [34]:
from tensorflow.keras.models import load_model
model = load_model(r"C:\Users\susha\Desktop\UDEMY\Complete_GENAI_COURSE\GenAI_Course_Langchain\python_ann_implementation\model.h5")

### Load the encoder and scaler

In [36]:
with open(r'C:\Users\susha\Desktop\UDEMY\Complete_GENAI_COURSE\GenAI_Course_Langchain\python_ann_implementation\label_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender = pickle.load(file)

with open(r'C:\Users\susha\Desktop\UDEMY\Complete_GENAI_COURSE\GenAI_Course_Langchain\python_ann_implementation\onehot_encoder_geo.pkl', 'rb') as file:
    label_encoder_geo = pickle.load(file)

with open(r'C:\Users\susha\Desktop\UDEMY\Complete_GENAI_COURSE\GenAI_Course_Langchain\python_ann_implementation\scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

### Example input data

In [37]:
input_data={
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 600000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 500000
}

### one-hot encode input 'Geography'

In [41]:
geo_encoded = label_encoder_geo.transform(pd.DataFrame({'Geography': [input_data['Geography']]})).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=label_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

### Combine one-hot encoded columns with the input data

In [44]:
# Convert input_data from dict to DataFrame
input_df = pd.DataFrame([input_data])

# Concatenate with the encoded geo features
input_df = pd.concat([input_df.reset_index(drop=True), geo_encoded_df], axis=1)
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,France,Male,40,3,600000,2,1,1,500000,1.0,0.0,0.0

In [45]:
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,France,1,40,3,600000,2,1,1,500000,1.0,0.0,0.0

In [47]:
input_df=input_df.drop("Geography",axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,600000,2,1,1,500000,1.0,0.0,0.0

### Scaling the input data

In [48]:
input_scaled=scaler.transform(input_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349,  8.38812313,
         0.80843615,  0.64920267,  0.97481699,  6.94716943,  1.00150113,
        -0.57946723, -0.57638802]])

### Predict Churn

In [50]:
prediction=model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 17ms/step

array([[0.66408795]], dtype=float32)

In [53]:
prediction_probabbility=prediction[0][0]
prediction_probabbility

0.66408795

In [54]:
if prediction_probabbility>0.5:
    print("the customer is likely to churn")
else:
    print("customer is not likely to churn")

the customer is likely to churn